# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environment
venv/
.env/

# Streamlit
.streamlit/secrets.toml

# Jupyter / IPython
.ipynb_checkpoints

# macOS / Windows
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
*.swp
*.bak

# PDF & output files
*.pdf
